<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ApplicantController</servlet-name>
  	<display-name>ApplicantController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.ApplicantController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KeyController</servlet-name>
  	<display-name>KeyController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.KeyController</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>AdminRegController</servlet-name>
  	<display-name>AdminRegController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.AdminRegController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginController</servlet-name>
  	<display-name>AdminLoginController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogoutController</servlet-name>
  	<display-name>AdminLogoutController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.AdminLogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplicantViewController</servlet-name>
  	<display-name>ApplicantViewController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.ApplicantViewController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplicationStatusControll</servlet-name>
  	<display-name>ApplicationStatusControll</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.ApplicationStatusControll</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>ApplicantController</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KeyController</servlet-name>
  	<url-pattern>/keycont</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>AdminRegController</servlet-name>
  	<url-pattern>/AdminRegController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginController</servlet-name>
  	<url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogoutController</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicantViewController</servlet-name>
  	<url-pattern>/ApplicantViewController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationStatusControll</servlet-name>
  	<url-pattern>/AcceptApplicationController</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  <welcome-file>Welcome.html</welcome-file>
  
  
  </welcome-file-list>
</web-app>
