<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ApplicantController</servlet-name>
  	<display-name>ApplicantController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.ApplicantController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KeyController</servlet-name>
  	<display-name>KeyController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.KeyController</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>AdminRegController</servlet-name>
  	<display-name>AdminRegController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.AdminRegController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginController</servlet-name>
  	<display-name>AdminLoginController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogoutController</servlet-name>
  	<display-name>AdminLogoutController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.AdminLogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplicantViewController</servlet-name>
  	<display-name>ApplicantViewController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.ApplicantViewController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplicationStatusControll</servlet-name>
  	<display-name>ApplicationStatusControll</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.ApplicationStatusControll</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplicationStatusCheck</servlet-name>
  	<display-name>ApplicationStatusCheck</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.ApplicationStatusCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourseAssignController</servlet-name>
  	<display-name>CourseAssignController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.CourseAssignController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourseUpdateController</servlet-name>
  	<display-name>CourseUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.CourseUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourseDeleteController</servlet-name>
  	<display-name>CourseDeleteController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.CourseDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPlacementController</servlet-name>
  	<display-name>AddPlacementController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.AddPlacementController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlacementDeleteController</servlet-name>
  	<display-name>PlacementDeleteController</display-name>
  	<description></description>
  	<servlet-class>com.college.web.controller.PlacementDeleteController</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>ApplicantController</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KeyController</servlet-name>
  	<url-pattern>/keycont</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>AdminRegController</servlet-name>
  	<url-pattern>/AdminRegController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginController</servlet-name>
  	<url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogoutController</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicantViewController</servlet-name>
  	<url-pattern>/ApplicantViewController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationStatusControll</servlet-name>
  	<url-pattern>/AcceptApplicationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationStatusCheck</servlet-name>
  	<url-pattern>/applicationstatuscheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourseAssignController</servlet-name>
  	<url-pattern>/updatecourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourseUpdateController</servlet-name>
  	<url-pattern>/CourseUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourseDeleteController</servlet-name>
  	<url-pattern>/DeleteCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPlacementController</servlet-name>
  	<url-pattern>/addPlacement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlacementDeleteController</servlet-name>
  	<url-pattern>/deleteplacement</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  <welcome-file>/Welcome.html</welcome-file>
  
  
  </welcome-file-list>
</web-app>
